{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "VERSION": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module",
        "ecmaVersion": 2018
    },
    "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "semi": "error",
        "no-console": "error",
        "object-curly-spacing": ["error", "never"]
    }
}
